export('RegParallel')
export('glmParallel')
export('lmParallel')
export('coxphParallel')
export('clogitParallel')
export('bayesglmParallel')
import('doParallel')
import('foreach')
import('parallel')
import('iterators')
import('data.table')
importFrom('stringr', 'str_count')
importFrom('survival', 'coxph', 'clogit', 'cluster')
importFrom('arm', 'bayesglm')
importFrom('stats', 'as.formula', 'qnorm')
importFrom('utils', 'head')
importFrom('methods', 'is')
