export('RegParallel')
export('glmParallel')
export('lmParallel')
export('coxphParallel')
export('clogitParallel')

import(BiocParallel)
import(foreach)
import(doMC)
import(parallel)
import(doParallel)
import(survival)
