export('RegParallel')
export('glmParallel')
export('lmParallel')
export('coxphParallel')
export('clogitParallel')
export('glm.nbParallel')
export('bayesglmParallel')
import(doParallel)
import(data.table)
importFrom('MASS', 'glm.nb')
importFrom('stringr', 'str_count')
importFrom('survival', 'coxph', 'clogit')
importFrom('arm', 'bayesglm')
importFrom('stats', 'as.formula', 'qnorm')
importFrom('utils', 'head')
importFrom('methods', 'is')
